@charset "UTF-8";

/* clearfixç”¨ */
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.main-visual {
  background-image: url(img/hero.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  /* z-index: 10; */
}

.top-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 100px;
  top: 0;
  left: 0;
  width: 100%;
  /* z-index: 20; */
  color: #FFF;
}

.header-title {
  position: absolute;
  top: 50%;
  width: 100%;
  padding: 0 10px;
  text-align: center;
  color: #fff;
  transform: translateY(-50%);
}

.info-box {
  display: flex;
  justify-content: space-around;
  width: 350px;
  list-style: none;
}

.info {
  width: 70px;
  height: 30px;
  color: #FFF;
  text-decoration: none;
  transition: 0.3s;
}

.info:hover {
  color: #808080;
} 
